[submodule ".registry"]
	path = .registry
	url = https://github.com/teachinglab/universe
	shallow = true
	branch = HEAD
[submodule "tlShiny"]
	path = tlShiny
	url = https://github.com/teachinglab/tlShiny
	shallow = true
	registered = true
